<table id="dxMainSpellCheckOptionsFormTable" class="dxwscDlgMainSpellCheckOptionsFormTable">
    <tr>
        <td class="dxwscDlgContentSCOptionsFormContainer">
            <table id="dxOptionsForm" class="dxwscDlgOptionsForm" style="width:100%">
                <tr>
                    <td>
                        @Html.DevExpress().RoundPanel(s => {
                            s.Name = "pnlOptions";
                            s.HeaderText = "General options";
                            s.Width = Unit.Percentage(100);

                            s.SetContent(()=>{
                                ViewContext.Writer.Write("<table><tr><td>");
                                Html.DevExpress().CheckBox(cb => {
                                    cb.Name = "chkbUpperCase";
                                    cb.Text = "Ignore words in UPPERCASE";
                                }).Render();
                                ViewContext.Writer.Write("</td></tr><tr><td>");
                                Html.DevExpress().CheckBox(cb => {
                                    cb.Name = "chkbMixedCase";
                                    cb.Text = "Ignore words in MiXeDcAsE";
                                }).Render();
                                ViewContext.Writer.Write("</td></tr><tr><td>");
                                Html.DevExpress().CheckBox(cb => {
                                    cb.Name = "chkbNumbers";
                                    cb.Text = "Ignore words with numbers";
                                }).Render();
                                ViewContext.Writer.Write("</td></tr><tr><td>");
                                Html.DevExpress().CheckBox(cb => {
                                    cb.Name = "chkbEmails";
                                    cb.Text = "Ignore e-mails";
                                }).Render();
                                ViewContext.Writer.Write("</td></tr><tr><td>");
                                Html.DevExpress().CheckBox(cb => {
                                    cb.Name = "chkbUrls";
                                    cb.Text = "Ignore URLs";
                                }).Render();
                                ViewContext.Writer.Write("</td></tr><tr><td>");
                                Html.DevExpress().CheckBox(cb => {
                                    cb.Name = "chkbTags";
                                    cb.Text = "Ignore markup tags";
                                }).Render();
                                ViewContext.Writer.Write("</td></tr></table>");
                            });
                        }).GetHtml()
                    </td>
                </tr>
                <tr>
                    <td class="dxwscDlgLanguagePanel">
                        @Html.DevExpress().RoundPanel(s => {
                            s.Name = "pnlLanguageSelection";
                            s.HeaderText = "International dictionaries";
                            s.Width = Unit.Percentage(100);

                            s.SetContent(()=>{
                                ViewContext.Writer.Write("<table style='width:100%;'><tr><td colspan='2'>");
                                Html.DevExpress().Label(lb => {
                                    lb.Name = "lblChooseDictionary";
                                    lb.Text = "Choose which dictionary to use when checking your spelling.";
                                }).Render();
                                ViewContext.Writer.Write("</td></tr><tr><td class='dxwscDlgLanguageLabelCell'>");
                                Html.DevExpress().Label(lb => {
                                    lb.Name = "lblLanguage";
                                    lb.Text = "Language:";
                                    lb.AssociatedControlName = "comboLanguage";
                                }).Render();
                                ViewContext.Writer.Write("</td><td class='dxwscDlgLanguageComboCell'>");
                                Html.DevExpress().ComboBox(cmb => {
                                    cmb.Name = "comboLanguage";
                                    cmb.Width = Unit.Percentage(100);
                                }).Render();
                                ViewContext.Writer.Write("</td></tr></table/");
                            });
                        }).GetHtml()
                    </td>
                </tr>
            </table>
        </td>
    </tr>
    <tr>
        <td class="dxwscDlgFooter">
            @Html.DevExpress().Button(s => {
                s.Name = "btnOK";
                s.Text = "OK";
                s.Styles.Style.CssClass = "dxwscDlgFooterBtn";
                s.ClientSideEvents.Click = "function(s, e) {ASPx.SCDialogComplete(true);}";
            }).GetHtml()
            @Html.DevExpress().Button(s => {
                s.Name = "btnCancel";
                s.Text = "Cancel";
                s.Styles.Style.CssClass = "dxwscDlgFooterBtn";
                s.ClientSideEvents.Click = "function(s, e) {ASPx.SCDialogComplete(false);}";
            }).GetHtml()
        </td>
    </tr>
</table>